#auth_form {
    margin: 20px;
}

.form-group > input {
    width: 110%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
